<h3>Для начала работы в системе Вам необходимо выполнить всего несколько шагов:</h3>

      <p><b>Шаг 1.</b>  В основном меню выберите пункт <strong>"Тарифы"</strong> → <strong>"Добавить новый тариф"</strong> и создайте ваши тарифы.

      <p><b>Шаг 2.</b> В основном меню выберите пункт <strong>"Абоненты"</strong>. В списке  абонентов выберите того, которому будите выставлять тариф и нажмите кнопку <strong>"Изменить"</strong>, расположенную в столбце слева от номера абонента. Далее наведите курсор на поле <strong>"Тариф"</strong> и во всплывающем окне появится список созданных вами тарифов. Выберите нужный тариф.

     <p><b>Шаг 3.</b> Не закрывая окно <strong>"Изменить"</strong>, в поле <strong>"Начало работы"</strong> выставьте для каждого абонента дату активации работы в системе. При наступлении данной даты система начнет вести с данным абонентом взаиморасчеты и списывать абонентскую плату согласно тарифу, а также осуществлять проверку баланса и на основании этой проверки отправлять команды в Сервис-Гид для блокирования \ разблокирования абонента. Далее нажимаете кнопку <strong>"Сохранить"</strong>.

     <p><b>Шаг 4.</b> Если же вы хотите чтобы система начала работать с абонентом с текущего дня, то вы просто выставляете ему статус <b>Активный</b>, а поле <strong>"Начало работы"</strong> оставляете пустым.           
        
