<table>
  <tr>
    <th>Дата</th>
    <th>Корпорация</th>
    <th>Абонент</th>
    <th>Сумма</th>
  </tr>

<% @abonent_debits.each do |abonent_debit| %>
  <tr>
    <td><%= abonent_debit.created_at %></td>
    <td><%= abonent_debit.abonent.corporation.name %></td>
    <td><%= abonent_debit.abonent.phone %></td>
    <td><%= abonent_debit.amount %></td>

  </tr>
<% end %>
</table>

<br />
