    <div class="topbar">
      <div class="fill">
        <div class="container">
          <%= logo %>
            <ul class="nav">
            <li><%= link_to "О Системе", pages_about_path %></li>
            <li><%= link_to "Контакты", pages_about_path %></li>
            <li><%= link_to "Вход", user_session_path %></li>
          </ul>
        </div>
      </div>
    </div>
