

<table >

<thead>
  <tr>
    <th>Corporation id</th>
    <th>Phone</th>
    <th>Amount</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= params[:corporation_id] %></td>
    <td><%= params[:phone] %></td>
    <td><%= params[:amount] %></td>
  </tr>
</tbody>
</table>
